#!/usrbin/env bash
layout uv
# added by install-exo.sh
[[ -v TAILSCALE_API_KEY ]] || export "TAILSCALE_API_KEY"="$(op item get "Tailscale API Key Dev" --fields "api access token" --reveal)"
[[ -v TAILSCALE_TAILNET ]] || export "TAILSCALE_TAILNET"="$(op item get "Tailscale API Key Dev" --fields "tailnet" --reveal)"
