#!/usrbin/env bash
# use asdf with direnv
# https://github.com/asdf-community/asdf-direnv
# you must direnv allow this file for it to work
# Added by install-asdf.sh on Thu Sep 30 23:25:03 CEST 2021
use asdf

# run all the .envrc parents
source_up_if_exists
# also source .env if it exists
dotenv_if_exists

pwd="$(PWD)" && export WS_DIR="${pwd%git"${pwd#*git}"}"

# warning that the VIRTUAL_ENV will be used and not the project virtualenv
if [[ -r .tool-versions ]] && grep "^python" .tool-versions; then
	layout uv
fi
